.cd-nav-trigger
	outline: 0

.cd-primary-nav a
	outline: 0
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out

.card
	background: #fff
	padding: 50px 20px
	p
		color: #222

.lead
	padding: 50px 20px
	color: #fff
	text-shadow: 4px 4px 12px #000
	font-weight: 700
	h1
		font-size: 3.2em
	h2
		font-size: 2.2em
		text-align: center
		margin-bottom: 5rem
	span
		text-align: center
		color: white
		background: black
		padding: 20px 40px

.cd-nav
	background: url(../img/bg.jpg)
	background-size: cover!important

main
	background: url(../img/bg-2.jpg)
	background-size: cover!important
