.cd-nav-trigger, .btn, .cd-modal-close
	outline: 0

.cd-primary-nav a
	outline: 0
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out

.card
	background: #fff
	padding: 50px 20px
	p
		color: #222

.cd-section
	background: none
	padding: 0 0.8em
	display: inline-block

.center-text
	text-align: center

.lead
	padding: 50px 20px 0 50px
	color: #fff
	text-shadow: 4px 4px 12px #000
	font-weight: 700
	h1
		font-size: 3.2em
	h2
		font-size: 2.2em
		text-align: center
		margin-bottom: 5rem
	span
		text-align: center
		color: white
		background: black
		padding: 20px 40px

.cd-nav
	background: url(../img/bg.jpg)
	background-size: cover!important

main
	background: white
	background-size: cover!important
	padding-top: 180px
	p
		max-width: 100%

#map
	width: 100%
	height: 800px

input
	background: white!important
	color: black!important

// Prevent horizontal scrolling
html, body, main
	max-width: 100%1important
	overflow-x: hidden!important

.cd-modal .cd-modal-content
	overflow-y: hidden!important
	height: auto!important

.cd-modal::after
	width: 0
	height: 0
	background: none

.cd-modal-action .cd-modal-bg
	border-radius: 0

.cd-modal-action .btn
	border-radius: 0

.no-select, .lead
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
