<div class="everfrog-content-wrapper">
	
	<div ng-show="make == 'home'">
		
		<!-- My flash animation !! -->
		<div class="flash-container">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="800" height="80" id="zero" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="allowFullScreen" value="false" />
				<param name="movie" value="zero.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#333333" />			<embed src="assets/zero.swf" quality="high" bgcolor="#333333" width="800" height="80" name="zero" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
			</object>
		</div>

		<h2>What is a data scientist?</h2>
		<p>A data scientist is someone that analyzes data through the extensive use of various programming languages. They may also be defined as follows:</p>
		<img src="img/a.jpg" alt="What is a data scientist?">
		<p>Anjul, a familiar in EverFrog, states that:</p>
		<blockquote>
			A data scientist is somebody who is inquisitive, who can 	stare at data and spot trends. It's almost like a Renaissance individual who really wants to learn and bring change to an organization. &ndash; Anjul Bhambhri
		</blockquote>
		<p>Languages such as R and Python are just some of the example languages that we use for analyzing big data at EverFrog.</p>
		
		<h2>How do we use data at EverFrog?</h2>
		<p>We use data at EverFrog to make our products better. For more information, please select the "More Information" link from the navigation menu.</p>
		
		<h2>Cool, where do I start?</h2>
		<p>Tap the green button on the right to navigate the site and get acquainted to EverFrog before you apply!</p>
		
	</div>
	
	<div ng-show="make == 'about'">
		
		<h2>About EverFrog</h2>
		<p>EverFrog, based in the United States, was founded in 2009 by our fabulous CEO Ian Allman. Originally starting as a branch to Disney, EverFrog has since then expanded and is now recognized on a national level</p>
		<p>We strongly believe that frogs should be as recognized as dogs in our society, and are committed to educating both children and adults worldwide the amazing world of frogs. We promote frog culture through various resources including but not limited to movies, animation, events, sports, and festivals.</p>
		
		<h2>What You Do</h2>
		<p>As a data scientist, you will help analyze the data we gather at EverFrog to make statistical changes to our core infrastructure and services. You will be the one to determine what we, both as a team and corporation, should do to best improve our overall image.</p>
		<img src="img/b.gif" alt="What data scientist do.">
		
	</div>
	
	<div ng-show="make == 'info'">
		
		<h2>What we expect from you as an EverFrog Scientist</h2>
		<p>Here at EverFrog, we take our recruitmnet process very seriously. We believe that a person must have exemplary skills as well as be both fun and nice to work with overall. Keeping that in mind, we also require that you be fluent in statistics and other forms of math.</p>
		
		<p>Additionally, you will need to be experienced with at least two of the following:</p>
		<ul>
			<li>SQL / PostgreSQL</li>
			<li>R / Python</li>
			<li>Scala / Haskell</li>
		</ul>
		
		<p>EverFrog is a fun environment to work in and we're sure that you'll get accustomed to our team and frog-like culture very quickly!</p>
		<img src="img/c.gif" alt="Picture of a cool frog.">
		
	</div>
	
	<div ng-show="make == 'contact'">
		
		<h2>Make an appointment</h2>
		<p>Ready to apply for EverFrog? If you haven't already, review the information provided on the other pages before continuing. When you're ready, fill out the forum below. Alternatively, you can use the map located at the bottom of the page instead.</p>
		<everfrog-form></everfrog-form>
		
		<h2>Come visit us in Orlando, Florida!</h2>
		<p>We go to Disney World for our team vacation every year!</p>
		<everfrog-map></everfrog-map>
		
	</div>
	
</div>
