<div class="everfrog-form-wrapper">
	<form>
		
		<div id="step0">
			<p>Alternatively, you can send us an email directly: <a href="mailto:hello@everfrog.works">hello@everfrog.works</a></p>
		</div>
		
		<div id="step1">

			<p>
				<label for="fwFirstName">First name:</label>
				<input type="text" id="fwFirstName">

				<label for="fwLastName">Last Name:</label>
				<input type="text" id="fwLastName">

				<label for="fwMiddleInitial">Middle Initial:</label>
				<input type="text" id="fwMiddleInitial">
			</p>

		</div>

		<div id="step2">
			<p>
				<label for="fwState">State:</label>
				<select id="fwState">
					<option></option>
					<option value="Alabama">Alabama</option>
					<option value="Alaska">Alaska</option>
					<option value="Arizona">Arizona</option>
					<option value="Arkansas">Arkansas</option>
					<option value="California">California</option>
					<option value="Colorado">Colorado</option>
					<option value="Connecticut">Connecticut</option>
					<option value="Delaware">Delaware</option>
					<option value="District of Columbia">District of Columbia</option>
					<option value="Florida">Florida</option>
					<option value="Georgia">Georgia</option>
					<option value="Hawaii">Hawaii</option>
					<option value="Idaho">Idaho</option>
					<option value="Illinois">Illinois</option>
					<option value="Indiana">Indiana</option>
					<option value="Iowa">Iowa</option>
					<option value="Kansas">Kansas</option>
					<option value="Kentucky">Kentucky</option>
					<option value="Louisiana">Louisiana</option>
					<option value="Maine">Maine</option>
					<option value="Maryland">Maryland</option>
					<option value="Massachusetts">Massachusetts</option>
					<option value="Michigan">Michigan</option>
					<option value="Minnesota">Minnesota</option>
					<option value="Mississippi">Mississippi</option>
					<option value="Missouri">Missouri</option>
					<option value="Montana">Montana</option>
					<option value="Nebraska">Nebraska</option>
					<option value="Nevada">Nevada</option>
					<option value="New Hampshire">New Hampshire</option>
					<option value="New Jersey">New Jersey</option>
					<option value="New Mexico">New Mexico</option>
					<option value="New York">New York</option>
					<option value="North Carolina">North Carolina</option>
					<option value="North Dakota">North Dakota</option>
					<option value="Ohio">Ohio</option>
					<option value="Oklahoma">Oklahoma</option>
					<option value="Oregon">Oregon</option>
					<option value="Pennsylvania">Pennsylvania</option>
					<option value="Rhode Island">Rhode Island</option>
					<option value="South Carolina">South Carolina</option>
					<option value="South Dakota">South Dakota</option>
					<option value="Tennessee">Tennessee</option>
					<option value="Texas">Texas</option>
					<option value="Utah">Utah</option>
					<option value="Vermont">Vermont</option>
					<option value="Virginia">Virginia</option>
					<option value="Washington">Washington</option>
					<option value="West Virginia">West Virginia</option>
					<option value="Wisconsin">Wisconsin</option>
					<option value="Wyoming">Wyoming</option>
					<option value="Other">Other</option>
				</select>
			</p>
			<p>
				<label for="fwCity">City:</label>
				<input type="text" id="fwCity">
			</p>

			<p>
				<label for="fwAddress">Address:</label>
				<input type="text" id="fwAddress">
			</p>

			<p>
				<label for="fwZip">Zip:</label>
				<input type="text" id="fwZip">
			</p>

		</div>

		<div id="step3">
			
			<p>
				<label for="fwMessage">Message:</label>
			</p>
			
			<textarea id="fwMessage"></textarea>
			
			<p>
				<input type="checkbox" value="subscribe" id="fwSubscribe">
				<label for="fwSubscribe">Add me to the mailing list.</label>
			</p>
			
		</div>
		
		<div id="step4">
			<p><button>Send</button></p>
		</div>

	</form>
</div>