<div class="everfrog-content-wrapper">
	
	<div ng-show="make == 'home'">
		<h2>What is a data scientist?</h2>
		<p>A data scientist is scienting data.</p>
		
		<h2>How do we use data at EverFrog?</h2>
		<p></p>
		
		<h2></h2>
		<p></p>
	</div>
	
	<div ng-show="make == 'about'">
		
		<h2>About EverFrog</h2>
		<p>asdfasdfasdaf</p>
		
	</div>
	
	<div ng-show="make == 'info'">
		
		<h2>dsgasf</h2>
		<p>asdfsdf</p>
		
	</div>
	
	<div ng-show="make == 'contact'">
		<h2>Hello Data</h2>
		<everfrog-form></everfrog-form>
		
		<h2>Come visit us in Orlando, Florida!</h2>
		<everfrog-map></everfrog-map>
	</div>
	
</div>
