<section class="cd-section">
	<div class="cd-modal-action">
		<a href="#0" class="btn" data-type="modal-trigger">Fire Modal Window</a>
		<span class="cd-modal-bg"></span>
	</div>

	<div class="cd-modal">
		<div class="cd-modal-content">
			<h1>We're a cool group</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur vitae eveniet, cum cumque ipsam perspiciatis illo nobis. Illum repudiandae iste deleniti, voluptatem! Amet vero vitae minima? Nostrum animi atque, vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit praesentium culpa numquam, sequi quia aliquam. Aspernatur dolore quaerat, adipisci cupiditate magni placeat assumenda distinctio delectus corporis officia rem, sunt quas.</p>
			<p>Illo explicabo ut consequuntur aliquam earum assumenda quos eum expedita adipisci, suscipit quisquam quis magnam atque est voluptates quo magni a sequi! Nihil et, pariatur voluptas, ad ea saepe consequuntur.</p>
			<p>Et suscipit sint rem a debitis incidunt nesciunt ratione quibusdam dolorem iste aliquid qui, voluptas minus quaerat autem, soluta placeat ab. Commodi veniam reprehenderit, repudiandae, nesciunt minus quibusdam aliquid eum?</p>
			<p>Nam quis dolorem, dignissimos tempore odit id asperiores, fugiat est reiciendis ducimus veritatis iure nostrum ipsam, doloribus doloremque mollitia et quod necessitatibus excepturi sapiente hic. Dignissimos voluptate odit laborum itaque.</p>
			<p>Doloribus aspernatur voluptatum consectetur officiis odit nobis beatae! Unde quia magni molestias, ullam id distinctio provident eum veritatis ea laudantium, sed qui accusantium, assumenda quas at sapiente dolore rerum ab!</p>
			<p>Necessitatibus doloribus reprehenderit laudantium quaerat ducimus ad nemo neque saepe! Recusandae enim, accusantium tenetur nulla officia expedita soluta itaque, accusamus quasi nam perspiciatis voluptates laudantium vitae exercitationem vel ipsum iure.</p>
			<p>Praesentium dolores, labore asperiores sunt deserunt, tempore! Hic impedit aut illum tenetur consequuntur temporibus maiores ipsum error quos natus aspernatur optio, alias iusto quia est, eveniet molestias facilis. Quisquam, excepturi.</p>
			<p>Placeat distinctio vel nam reprehenderit assumenda amet pariatur sit quos eum, porro, accusamus eaque, perspiciatis iure nemo. Dolorem saepe autem officia inventore esse error ratione et. Rem, perspiciatis assumenda accusamus.</p>
			<p>Quas eum inventore tenetur possimus et autem eligendi commodi error, doloremque consectetur quisquam architecto consequuntur! Architecto odit culpa laudantium eligendi vitae, distinctio deserunt voluptate officiis, iure ipsam aut, quasi voluptatum!</p>
			<p>Recusandae minus temporibus commodi quibusdam, laboriosam amet hic laborum quia, molestias rerum sequi tempora? Quaerat, dolor. Rem beatae corporis ad. Minima quia error incidunt quas possimus eius exercitationem, molestias optio.</p>
		</div>
	</div>

	<a href="#0" class="cd-modal-close">Close</a>
</section>
