<div class="everfrog-form-wrapper">
	<form>
		
		<div id="step1">

			<p>
				<label for="fwFirstName">First name:</label>
				<input type="text" id="fwFirstName">

				<label for="fwLastName">Last Name:</label>
				<input type="text" id="fwLastName">

				<label for="fwMiddleInitial">Middle Initial:</label>
				<input type="text" id="fwMiddleInitial">
			</p>

		</div>

		<div id="step2">
			<p>
				<label for="fwCity">City:</label>
				<input type="text" id="fwCity">
			</p>

			<p>
				<label for="fwAddress">Address:</label>
				<input type="text" id="fwAddress">
			</p>

			<p>
				<label for="fwZip">Zip:</label>
				<input type="text" id="fwZip">
			</p>

		</div>

		<div id="step1">
			
			<p>
				<input type="checkbox" value="subscribe" id="fwSubscribe">
				<label for="fwSubscribe">Add me to the mailing list.</label>
			</p>
			
		</div>

	</form>
</div>